<!doctype html>
<html>
<head>
<title>PVG</title>
<meta name="description" content="A3">
<meta name="keywords" content="A3">

<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/public/assets/tailwind.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/style.css" />
<link rel="stylesheet" type="text/css" href="/public/assets/local_style.css" />



</head>

<body oncontextmenu="return false";>
<div>
    <div class="overflow-x-hidden">

      
     
    <!-- NAVBAR -->
    <%- include('navbar.ejs') %> 

    <!--HEADER (Path)-->
    <%- include('header.ejs') %> 

    
    <div class="container pb-1 mx-auto mt-4">
        <!-- MAIN CONTENT-->
        <div class="md:flex">

            <%- include('about.ejs') %>
        
        <!--SIDE BAR // ABOUT-->
<div class="ml-4 md:w-1/4">
    <div class="hidden md:block glass-bg ">
        <%- include('sidebar.ejs') %>
      </div>
      
    </div>
    </div>
    </div>

    
    <!--Footer (Path) -->
    <%- include('footer.ejs') %>
    </div>
</div>
</body>
</html>