
<nav>
    <div class="container">
        <div class="row">
            
            <% for (var i = 0; i < 11; i++) { %>

  
                    
                <table class="rounded-xl w-full text-sm text-left mb-2">
                    <tr class="font-semibold grid grid-cols-1 list-inside">
                        <th class="content flex">
                            <a class="font-semibold text-2xl my-auto ml-2 mb-2 whitespace-nowrap w-full"><%= projects[i].name %> </a>
                            <div class="flex mr-1 items-center text-gray-800  ">
                                <div class="ml-3 px-1 text-sm font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.a %> </div>
                                <div class="ml-3 px-1 text-sm font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.b %> </div>
                                <div class="ml-3 px-1 text-sm font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.c %> </div>
                                <div class="ml-3 px-1 text-sm font-semibold bg-orange-400 rounded-md whitespace-no-wrap"> <%= projects[i].lang.d %> </div>
                                <div class="ml-3 px-1 text-sm font-semibold bg-orange-400 rounded-md whitespace-no-wrap"> <%= projects[i].lang.e %> </div>
                                </div>
                        </th>
                        <th>
                        <!-- Appearance -->
                        <ul class="grid grid-cols-2 gap-0 font-normal mb-2 ml-1">
                            <li class="list-none">
                                <img class="rounded-md object-cover items-end" src="<%= projects[i].images.thumb1 %>"   alt="superhero profile image">
                                </a>
                            </li>

                            <li class="ml-6 text-lg list-none">
                                <p class="mt-1 text-md font-thin -mr-2"><span class="font-semibold"><%= projects[i].name %></span> <%= projects[i].info.about %></p>
                                <p> <%= projects[i].info.desc%></p>
                                <br>
                                <a href="<%= projects[i].links.demo%>"> Live Demo!</a>
                                <br>
                                <a href="<%= projects[i].links.repo%>"> Github Repo!</a>
                                <br>
                                <a style="font-size:13px; opacity: 70%;"> (Some demos are currently unavailable)</a>
                            </li>

                        </ul>
                        <div class="flex items-center justify-between px-10 mt-6  border-b select-none md:mt-4">
                        </div>
                        </th>
                    </tr>
                </table>
                </a>
            <% } %>
        </div>


    </div>
</nav>
