
<nav>
    <div class="container">
        <div class="row">
            
            <% for (var i = 0; i < 11; i++) { %>
                    
                <table class="rounded-xl w-full text-sm mt-6 text-left mb-2">
                    <tr class="font-semibold grid grid-cols-1 list-inside">
                        <th class="content flex">
                            <a class="font-semibold text-3xl my-auto mb-2 whitespace-nowrap w-full"><%= projects[i].name %> :</a>

                            <!-- Desktop Icons Langs -->
                            <div class="hidden sm:hidden md:hidden lg:flex mr-1 items-center text-gray-800  ">
                                <div class="ml-3 px-1 text-lg font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.a %> </div>
                                <div class="ml-3 px-1 text-lg font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.b %> </div>
                                <div class="ml-3 px-1 text-lg font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.c %> </div>
                                <div class="ml-3 px-1 text-lg font-semibold bg-orange-400 rounded-md whitespace-no-wrap"> <%= projects[i].lang.d %> </div>
                                <div class="ml-3 px-1 text-lg font-semibold bg-orange-400 rounded-md whitespace-no-wrap"> <%= projects[i].lang.e %> </div>
                            </div>

                        </th>
                        <th>
                        <!-- Appearance -->
                        <ul class="grid grid-cols-1 gap-0 font-normal">
                            <!-- Mobile Icons Langs -->
                            <div class="lg:hidden md:flex sm:flex flex mr-1 mt-1 mb-3 items-center text-gray-00  ">
                                <div class="ml-2 px-1 text-sm font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.a %> </div>
                                <div class="ml-2 px-1 text-sm font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.b %> </div>
                                <div class="ml-2 px-1 text-sm font-semibold bg-orange-400  rounded-md whitespace-no-wrap"> <%= projects[i].lang.c %> </div>
                                <div class="ml-2 px-1 text-sm font-semibold bg-orange-400 rounded-md whitespace-no-wrap"> <%= projects[i].lang.d %> </div>
                                <div class="ml-2 px-1 text-sm font-semibold bg-orange-400 rounded-md whitespace-no-wrap"> <%= projects[i].lang.e %> </div>
                            </div>
                            <li class="list-none">
                                <img class="rounded-2xl items-end w-full h-60 p-2 object-cover" src="<%= projects[i].images.thumb1 %>" loading="lazy"  alt="superhero profile image"> 
                                </a>
                            </li>

                            <li class="ml-2 mt-6 text-lg list-none">
                                <p class="text-md font-thin mb-4 "><span class="font-semibold"><%= projects[i].name %></span> <%= projects[i].info.about %></p>
                                <p class="text-md font-thin mb-3 ml-6"> <%= projects[i].info.desc%></p>
                                <p class="text-md font-thin mb-3 ml-6"> <%= projects[i].info.desc1%></p>
                                <p class="text-md font-thin mb-3 ml-6"> <%= projects[i].info.desc2%></p>
                                <p class="text-md font-thin mb-3 ml-6"> <%= projects[i].info.desc3%></p>
                                <p class="text-md font-thin mb-6 ml-6"> <%= projects[i].info.desc4%></p>
                                <p class="text-md font-thin mb-6 ml-6"> <%= projects[i].info.desc5%></p>
                                
<!-- Img Gallery -->
<div class="relative">
    <!-- Minimize Button 
    <a onclick="toggleMinimize()" id="toggleButton" class="cursor-pointer underline mb-3">
        Image Gallery v
    </a>
    -->

    <!-- Images Grid -->
    <div id="imageGrid" class="mt-3 grid grid-cols-2 gap-6">
        <div class="list-none">
            <img class="w-full h-60 object-cover rounded-xl" src="<%= projects[i].images.thumb2 %>" loading="lazy" alt="">
        </div>
        <div class="list-none">
            <img class="w-full h-60 object-cover rounded-xl" src="<%= projects[i].images.thumb3 %>" loading="lazy" alt="">
        </div>
        <div class="list-none">
            <img class="w-full h-60 object-cover rounded-xl" src="<%= projects[i].images.thumb4 %>" loading="lazy" alt=""/>
        </div>
        <div class="list-none">
            <img class="w-full h-60 object-cover rounded-xl" src="<%= projects[i].images.thumb5 %>" loading="lazy" alt="">
        </div>
    </div>

        <!-- Images Grid -->
        <div id="imageGrid" class="mt-3 grid grid-cols-2 gap-6">
            <div class="list-none">
                <img class="w-full h-60 object-cover rounded-xl" src="<%= projects[i].images.thumb6 %>" loading="lazy" alt="">
            </div>
            <div class="list-none">
                <img class="w-full h-60 object-cover rounded-xl" src="<%= projects[i].images.thumb7 %>" loading="lazy" alt="">
            </div>
        </div>
</div>
                                
 
                                

                                <div class="mt-12 mb-2 flex space-x-4">
                                    <a href="<%= projects[i].links.demo %>" target="_blank" rel="noopener noreferrer" class="connect-button-c flex items-center justify-center bg-blue-700 text-white rounded px-4 py-2">
                                        View Project
                                        <svg xmlns="http://www.w3.org/2000/svg" width="23" height="23" fill="currentColor" class="bi bi-globe ml-2 mt-1" viewBox="0 0 16 16">
                                            <path d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m7.5-6.923c-.67.204-1.335.82-1.887 1.855A8 8 0 0 0 5.145 4H7.5zM4.09 4a9.3 9.3 0 0 1 .64-1.539 7 7 0 0 1 .597-.933A7.03 7.03 0 0 0 2.255 4zm-.582 3.5c.03-.877.138-1.718.312-2.5H1.674a7 7 0 0 0-.656 2.5zM4.847 5a12.5 12.5 0 0 0-.338 2.5H7.5V5zM8.5 5v2.5h2.99a12.5 12.5 0 0 0-.337-2.5zM4.51 8.5a12.5 12.5 0 0 0 .337 2.5H7.5V8.5zm3.99 0V11h2.653c.187-.765.306-1.608.338-2.5zM5.145 12q.208.58.468 1.068c.552 1.035 1.218 1.65 1.887 1.855V12zm.182 2.472a7 7 0 0 1-.597-.933A9.3 9.3 0 0 1 4.09 12H2.255a7 7 0 0 0 3.072 2.472M3.82 11a13.7 13.7 0 0 1-.312-2.5h-2.49c.062.89.291 1.733.656 2.5zm6.853 3.472A7 7 0 0 0 13.745 12H11.91a9.3 9.3 0 0 1-.64 1.539 7 7 0 0 1-.597.933M8.5 12v2.923c.67-.204 1.335-.82 1.887-1.855q.26-.487.468-1.068zm3.68-1h2.146c.365-.767.594-1.61.656-2.5h-2.49a13.7 13.7 0 0 1-.312 2.5m2.802-3.5a7 7 0 0 0-.656-2.5H12.18c.174.782.282 1.623.312 2.5zM11.27 2.461c.247.464.462.98.64 1.539h1.835a7 7 0 0 0-3.072-2.472c.218.284.418.598.597.933M10.855 4a8 8 0 0 0-.468-1.068C9.835 1.897 9.17 1.282 8.5 1.077V4z"/>
                                        </svg>
                                    </a>
                                
                                    <a href="<%= projects[i].links.repo %>" target="_blank" rel="noopener noreferrer" class="connect-button-c flex items-center justify-center bg-blue-700 text-white rounded px-4 py-2">
                                        Github Repository
                                        <svg xmlns="http://www.w3.org/2000/svg" width="24" fill="currentColor" height="24" class="ml-2 mt-1" viewBox="0 0 16 16">
                                            <path d="M8 0C3.58 0 0 3.58 0 8c0 3.54 2.29 6.53 5.47 7.59.4.07.55-.17.55-.38 0-.19-.01-.82-.01-1.49-2.01.37-2.53-.49-2.69-.94-.09-.23-.48-.94-.82-1.13-.28-.15-.68-.52-.01-.53.63-.01 1.08.58 1.23.82.72 1.21 1.87.87 2.33.66.07-.52.28-.87.51-1.07-1.78-.2-3.64-.89-3.64-3.95 0-.87.31-1.59.82-2.15-.08-.2-.36-1.02.08-2.12 0 0 .67-.21 2.2.82.64-.18 1.32-.27 2-.27.68 0 1.36.09 2 .27 1.53-1.04 2.2-.82 2.2-.82.44 1.1.16 1.92.08 2.12.51.56.82 1.27.82 2.15 0 3.07-1.87 3.75-3.65 3.95.29.25.54.73.54 1.48 0 1.07-.01 1.93-.01 2.2 0 .21.15.46.55.38A8.012 8.012 0 0 0 16 8c0-4.42-3.58-8-8-8z"/>
                                        </svg>
                                    </a>
                                </div>
                                
                                


                                <a style="font-size:13px; opacity: 70%;"> (Some demos/repositories are currently unavailable)</a>
                            </li>

                        </ul>
                        <div class="flex items-center justify-between px-10 mt-2  border-b select-none md:mt-4">
                        </div>
                        </th>
                    </tr>
                </table>
                </a>
            <% } %>
        </div>


    </div>
</nav>

<script>
    function toggleMinimize() {
        const grid = document.getElementById('imageGrid');
        const toggleButton = document.getElementById('toggleButton');
        
        if (grid.style.display === "none") {
            grid.style.display = "grid"; // Show the grid
            toggleButton.innerHTML = "Image Gallery v"; // Update text to "v"
        } else {
            grid.style.display = "none"; // Hide the grid
            toggleButton.innerHTML = "Image Gallery >"; // Update text to ">"
        }
    }
</script>